.toolbox {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;

    &__search-button {
        margin-left: 20px;
    }
    
    &__search-field {
        width: 300px;
    }
}
