.course-item {
    display: flex;
    border: 2px solid transparent;
    padding: 5px 10px;

    &__info-with-description {
        flex-grow: 1;
    }

    &__controls {
        margin-left: 20px;
    }
}

.info-with-description {
    &__item-info {
        margin-bottom: 10px;
    }

    &__creation-time {
        margin-left: 15px;
    }

    &__description {
        text-align: justify;
    }
}

.course-item-info {
    display: flex;
    justify-content: space-between;
}

.course-item_top-rated {
    background-color: #b2b2b2;
}

.top-rated-start_color_gold {
    color: gold;
}

.controls {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.description {
    text-indent: 3rem;
}
