<article 
[appCourseRelevance]="course.date" 
[ngClass]="{ 'course-item_top-rated': course.isTopRated }"
class="course-item mat-elevation-z4" >
  <div class="course-item__info-with-description info-with-description" >
    <div class="info-with-description__course-item-info course-item-info">
        <h3 class="course-title">
          {{course.name | uppercase}}
          <fa-icon [icon]="starIcon" class="top-rated-start_color_gold" *ngIf="course.isTopRated"></fa-icon>
        </h3>
        <p>
          <span class="course-duration">{{course.length | durationPipe}}</span>
          <span class="info-with-description__creation-time">{{course.date | date: 'shortDate'}}</span>
        </p>
    </div>
    <p class="info-with-description__description description">{{course.description}}</p>
  </div>
  <div class="course-item__controls controls">
    <button [routerLink]="course.id" mat-button i18n >Edit</button>
    <button class="controls__delete-course-item-control" (click)="onDeleteCourse()" mat-button i18n >Delete</button>
  </div>
</article>
