<article [appCourseRelevance]="course.creationTime" class="courses-list-container_course-itme">
  <div>
    <div class="courses-list-container_course-itme-info">
        <h3 class="courses-list-container_course-title">{{course.title}}</h3>
        <p>
          <span class="courses-list-container_course-duration">{{courseDuration}}</span>
          <span class="courses-list-container_course-creation-time-info">{{course.creationTime}}</span>
        </p>
    </div>
    <p class="courses-list-container_course-description">{{course.description}}</p>
  </div>
  <div class="courses-list-container_course-itme-controls">
    <button>Edit</button>
    <button class="courses-list-container_delete-course-itme-control" (click)="onDeleteCourse()" >Delete</button>
  </div>
</article>
