p {
    margin: 0;
}

.courses-list-container_course-item {
    display: flex;
    border: 2px solid transparent;
    padding: 5px 10px;
}

.courses-list-container_course-item__top-rated {
    background-color: #b2b2b2;
}

.courses-list-container_course-item-top-rated-start {
    color: gold;
}

.courses-list-container_course-item-controls {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-left: 20px;
}

.courses-list-container_course-item-controls > button {
    cursor: pointer;
}

.courses-list-container_course-item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.courses-list-container_course-creation-time-info {
    margin-left: 15px;
}

.courses-list-container_course-description {
    text-align: justify;
    text-indent: 3rem;
}
