<article [appCourseRelevance]="course.creationTime" class="courses-list-container_course-item mat-elevation-z4" [ngClass]="classes">
  <div class="courses-list-container_course-item-info-with-description" >
    <div class="courses-list-container_course-item-info">
        <h3 class="courses-list-container_course-title">
          {{course.title | uppercase}}
          <fa-icon [icon]="starIcon" class="courses-list-container_course-item-top-rated-start" *ngIf="course.topRated"></fa-icon>
        </h3>
        <p>
          <span class="courses-list-container_course-duration">{{course.duration | durationPipe}}</span>
          <span class="courses-list-container_course-creation-time-info">{{course.creationTime}}</span>
        </p>
    </div>
    <p class="courses-list-container_course-description">{{course.description}}</p>
  </div>
  <div class="courses-list-container_course-item-controls">
    <button mat-button>Edit</button>
    <button class="courses-list-container_delete-course-item-control" (click)="onDeleteCourse()" mat-button >Delete</button>
  </div>
</article>
