.courses-list-container {
    font-size: 1.6rem;
}

.courses-list-container_wrapper {
    padding: 10px 15px;
    border: 2px solid #CCC;
}

.courses-list-container_load-more-button {
    margin-top: 15px;
    min-height: 50px;
    width: 100%;
    cursor: pointer;
    color: #000;
}
