@import "../../../../styles/mixins/layout.scss";
@import "../../../../styles/variables/sizes.scss";

.header {
    box-shadow: 0 5px rgba(0, 0, 0, .1);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 65px;
        max-height: 100px;
        padding: 10px 15px;
    
        @include page-width();
    }
}

.logo {
    display: flex;
    height: 50px;
    cursor: pointer;

    &_logo-image {
        margin-right: 10px;
    }

    &-image {
        height: 50px;
        user-select: none;
    }
    
    &-text {
        display: flex;
        align-items: center;
        font-size: $text-size-logo;
    }
}

.user-managment {
    display: flex;
    align-items: baseline;
    font-size: $text-size-default;

    &__user-login-button {
        margin-left: 10px;
    }
}

.user-login {
    color: #999;
}
