.header {
    box-shadow: 0 5px rgba(0, 0, 0, .1);
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    max-height: 100px;
    padding: 10px 15px;
}

.header_logo {
    display: flex;
    height: 50px;
    cursor: pointer;
}

.header_logo-image {
    height: 50px;
    user-select: none;
    margin-right: 10px;
}

.header_logo-text {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
}

.header_user-managment {
    display: flex;
    align-items: baseline;
    font-size: 1.6rem;
}

.header_user-login {
    color: #999;
}

.header_user-login-button {
    margin-left: 10px;
    cursor: pointer;
}
