@import "../../../../styles/mixins/layout.scss";
@import "../../../../styles/variables/sizes.scss";

.footer {
    font-size: $text-size-default;
    min-height: 40px;

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 10px 15px;
    
        @include page-width();
    }
}
