@import "../../../../styles/mixins/layout.scss";
@import "../../../../styles/variables/sizes.scss";

.courses-list-container {
    font-size: $text-size-default;

    &__wrapper {
        padding: 10px 15px;
        border: 2px solid #CCC;
    
        @include page-width();
    }

    &__load-more-button {
        margin-top: 15px;
        min-height: 50px;
        width: 100%;
    }
}

.load-more-button {
    color: #000;
}
