<div class="courses-list-container">
  <div class="courses-list-container__wrapper">
    <app-toolbox (search)="onSearch($event)" (addCourse)="onAddCourse()" ></app-toolbox>
    <app-courses-list [courses]="transformedCourses" (deleteCourse)="onDeleteCourse($event)" ></app-courses-list>

    <button 
    class="courses-list-container__load-more-button load-more-button" 
    (click)="onLoadMore()" 
    *ngIf="transformedCourses.length" mat-button i18n >LOAD MORE</button>

    <button 
    class="courses-list-container__load-more-button load-more-button" 
    (click)="onLoadMore()" 
    *ngIf="!transformedCourses.length" disabled mat-button i18n >NO DATA. FEEL FREE TO ADD NEW COURSE</button>
  </div>
</div>
