@import "../variables/sizes.scss";

@mixin page-width() {
    width: $page-width-size;
    margin: 0 auto;
}

@mixin sticky-footer() {
    display: flex;
    flex-flow: column;
    min-height: 100%;

    &__content {
        flex: 1 0 auto;
    }
    
    &__footer {
        flex-shrink: 0;
    }
}
